/*!
* Start Bootstrap - Shop Item (https://startbootstrap.com/template-overviews/shop-item)
* Copyright 2013-2017 Start Bootstrap
* Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap-shop-item/blob/master/LICENSE)
*/
.body {
    font-family: Helvetica;
    font-size: 12px;}

    .collab{
        padding-top: .5rem;
        font-size: 18px;
        color: white;
    }

    .main-container {
    max-width: 1160px;
    margin: 0 auto;}
    
    .top-container {
    border-top: 5px solid #0470AE;
    padding-top: 32px;
    width: 100%;}
    
    .form-control {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff !important;
    background: url(../../assets/images/desk/search.png) no-repeat center left;
    background-position-x: 2%;
    font-size: 12px;
    padding: 0 30px;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-right: none;
    border-radius: 0px;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;}
    
    .unser-name {
    font-family: Helvetica;
    font-size: 12px;}
    
    .unser-name b {
    color: #0370ae}
    
    .profile-pic img {
    width: 100%;
    height: 100%;
    width: 40px;
    margin-left: 20px;}
    
    .logout {}
    
    .go-btn {
    background: #0270AF;
    color: #fff;
    border-radius: 0px;
    font-family: Helvetica;
    font-size: 12px;
    padding: 9px;}
    
    .filter-btn {
    background: #ececec;
    color: #fff;
    border-radius: 0px;}
    
    .footer {
    background: #000;
    padding: 10px;
    text-align: center;
    color: #fff;}
    
    .footer p {
    padding: 10px 0;}
    
    .flex-nowrap {
    flex-wrap: nowrap;}
    
    .overflow-x-auto {
    overflow-x: auto;}
    
    .user-profile {}
    
    .user-profile span {
    float: left;}
    
    .custm-container {
    padding-left: 0px;}
    
    /* .nav-apps {
    margin-left: 140px;} */
    
    .page-header {
    font-family: Helvetica;
    font-size: 14px;
    text-align: left;
    color: #0270AF;
    font-weight: bold;}
    
    .hamburger {
    margin-right: 10px;
    width: 15px;}
    
    .logout {
    padding: 9px 15px;
    float: right !important;
    border-left: 1px solid #ced4da;
    height: 100%;
    padding-left: 20px;}
    .user-align{
        margin-left:80px;
    }
    
    .username {
    color: #0370ae;
    font-weight: bold}
    
    .dashboard {
    padding: 10px 15px;
    background: #f0f0f0;}
    
    .dashboard a {
    color: #000;}
    
    .dashboard a:hover {
    text-decoration: none;}
    
    .nav-container {
    border-bottom: none;}
    
    .nav-container {
    background: #01ABDC;
    margin-top: 10px;}
    
    .nav-container a {
    color: #fff;}
    
    .nav-container a.active {
    background: #29183C;}
    
    .page-container {
    padding-top: 15px;}
    
    
    @media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .logo-container {
    display: none;}
    
    .username {
    display: none;}
    
    .profile-pic {
    border-right: none;}
    
    .logout {
    border-left: none;
    padding: 6px 10px;}
    
    .logout img {
    width: 25px;
    }
    
    .top-container {
    border-top: none;
    background: #00ADEF;
    padding: 10px;
    width: 100%;}
    
    .nav-container {
    
    border-bottom: 1px solid #000;
    padding-right:15px;
    }
    .profile-pic img {
    margin-left: 0px;
    }
    
    .nav-container a {
    color: #fff;
    width: auto;
    white-space: nowrap;}
    
    .nav-link {
    display: block;
    padding: .5rem 1rem;}
    
    .home-icon {
    width: 80%;
    margin-top: 5px;}
    
    .page-header {
    font-family: Helvetica;
    font-size: 14px;
    text-align: center;
    color: #0270AF;
    font-weight: bold;}
    
    .nav-container {
    background: #fff;
    margin-top: 0px;}
    
    .nav-container a {
    color: #000;}
    
    .nav-container a.active {
    background: #29183C;
    color: #fff;}
    }