
<div class="main-container body">
  <div class="container top-container">
    <div class="row">
      <div class="col-2 col-sm-3">
        <div class="logo d-none d-sm-block">
          <a routerLink="/country" routerLinkActive="active" ><img src="assets/images/desk/CG_Logo.png"/></a>
        </div>
        <div class="logo d-block d-sm-none"  >
            <a routerLink="/country" routerLinkActive="active" ><img class="home-icon" src="assets/images/desk/Home_Mobile.png"/></a>
          </div>
      </div>
      <div class="col-8 col-sm-6 collab"> 
         <span> Collaboration Application</span>
      </div>
      <div class="col-2 col-sm-3 user-profile text-right">
        <span class="d-none d-sm-block user-align">Welcome<br><span><a href="#" class="username">{{username}}</a></span></span>
        <!-- <span class="profile-pic text-right"><a href="#"><img src="images/profile pic.png"/></a></span> -->
        <span class="logout d-none d-sm-block "><a href="#"><img src="assets/images/desk/logout.png"/></a></span>
		    <span class="logout d-block d-sm-none"><a href="#" ><img src="assets/images/desk/logout-icon.png"/></a></span>
      </div>
    </div>
  </div>
  <div class="custm-container nav-container">
      <ul class="nav flex-nowrap overflow-x-auto">
          <li class="nav-item" (click)="onSelectSBU('apps')" style="cursor: pointer;">
            <a class="nav-link nav-apps" >APPS</a>
          </li>
          <li class="nav-item" (click)="onSelectSBU('global')" style="cursor: pointer;">
            <a class="nav-link">GLOBAL CONSULTING</a>
          </li>
          <li class="nav-item" (click)="onSelectSBU('financial')" style="cursor: pointer;">
              <a class="nav-link">FINANCIAL SERVICES</a>
          </li>
          <li class="nav-item" (click)="onSelectSBU('infra')" style="cursor: pointer;">
              <a class="nav-link">INFRA</a>
          </li>
          <li class="nav-item" (click)="onSelectSBU('sogeti')" style="cursor: pointer;">
              <a class="nav-link">SOGETI</a>
          </li>              
        </ul>
          
  </div>
  <!-- <div class="container dashboard">
    <div class="row">
      <div class="col-sm-12"><a href="#">Dashboard</a> > <a href="#">Country view</a> > <a href="#">Germany</a> > <b><a href="#">Overview</a></b></div>
    </div>
  </div> -->
  <div *ngIf="countryName" class="container page-container">
    <div class="row">
      <div class="col-sm-12">
        <p class="page-header">{{countryName}}</p>
      </div>
    </div>
  </div>  
</div>