<app-appheader [countryName]="countryName" ></app-appheader>


<div class="container">
 
<!-- track path end -->            
  <section class="main-container">                
    <article>
      <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" href="#overview" role="tab" data-toggle="tab">Overview</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#engageDetails" role="tab" data-toggle="tab">Engagements</a>
        </li>
      </ul>                              
<!-- Tab panes -->
    <div class="tab-content">
    <div role="tabpanel" class="tab-pane in active" id="overview" >
    <div class="row" *ngIf="entities">
    <div class="col-sm-12 col-md-6">
      <div class="card violet">
          <h3>{{entities?.revenue}}</h3>
          <h4>2018 Revenue</h4>
      </div>
      <div class="card red">
          <h3>{{entities?.totalHeadCount}}</h3>
          <h4>Total HeadCount</h4> 
      </div>
      <div class="card green">
          <h4>BNP Entities</h4>
          <ul>
              <li *ngFor="let bnp of entities?.bnpEntities" style="list-style-type:circle">
                  <span>{{bnp.entityName}}</span>
            </li>
          </ul>
      </div>
      <div class="card blue">
          <h4>SBU</h4>
          <ul>
              <li *ngFor="let sbu of entities?.sbus" style="list-style-type:circle">
                  <span>{{sbu.sbuname}}</span>
            </li>
            </ul>
      </div>  
    </div>                               
  </div>  

  <div class="row" *ngIf="!entities">
    <div class="alert alert-info" style="margin:1rem; margin-bottom: 0; width: 100%;">
        No Data Found.
     </div>
  </div>
</div>





<div role="tabpanel" class=" tab-padd  tab-pane fade" id="engageDetails">
<!-- accordian -->
<div class="panel-group" id="accordion">
  <div class="panel panel-default"  *ngFor="let obj of eDetails?.sbus; let ind = index;">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a class="toggle-panel collapsed" data-toggle="collapse" data-parent="#accordion" [href]="'#'+obj.sbuname+ind">
          {{obj.sbuname | uppercase}} <span>- {{obj.engagements.length}} Engagement available</span></a>
      </h4>         
    </div>
    <div [id]="obj.sbuname+ind" class="panel-collapse collapse in">
      <div class="panel-body">  
            <div class="d-none d-sm-block" id="no-more-tables">
            <div class="form-conatiner">
                <form class="container">
                    <div class="row">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="all" value="All">
                            <label class="form-check-label" for="all">All</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="sbu" value="SBU">
                            <label class="form-check-label" for="sbu">SBU</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="sbu" value="SBU">
                            <label class="form-check-label" for="sbu">SBU</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="deliverybu" value="Delivery BU ">
                            <label class="form-check-label" for="deliverybu">Delivery BU </label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="BNPPent" value="BNPP Entities">
                            <label class="form-check-label" for="BNPPent">BNPP Entities</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="Capgeminient" value="Capgemini Entities">
                            <label class="form-check-label" for="Capgeminient">Capgemini Entities</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="technologies" value="Technologies">
                            <label class="form-check-label" for="technologies">Technologies</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="active" value="Active">
                            <label class="form-check-label" for="active">Active</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="closed" value="Closed">
                            <label class="form-check-label" for="closed">Closed</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="digital" value="Digital">
                            <label class="form-check-label" for="digital">Digital</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="Fixedprice " value="Fixed Price">
                            <label class="form-check-label" for="Fixedprice ">Fixed Price</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="TM " value="T&M">
                            <label class="form-check-label" for="TM ">T&M</label>
                        </div>
                    </div>
                </form>
            </div>	
            <table class="col-md-12 table-striped table-condensed cf custom-table">
                <thead class="cf">
                    <tr>
                        <th>Sr.#</th>
                        <th>BNPP Entity</th>
                        <th class="numeric">Engagement Name</th>
                        <th class="numeric">Delivery BU</th>
                        <th class="numeric">Type</th>
                        <th class="numeric">Delivery Model</th>
                        <th class="numeric">Primary Location</th>
                        <th class="numeric">Delivery Location</th>
                        <th class="numeric">Technology</th>
                        <th class="numeric">Status</th>
                    </tr>
                </thead>
                <tbody>
                        <tr  *ngFor="let eng of obj.engagements ; let i = index" >
                                <td data-title="Sr.#">{{i+1}}</td>
                                <td data-title="BNPP Entity">{{eng.bnpentity.entityName}}</td>
                                <td data-title="Engagement Name" class="numeric">{{eng.engagementName}}</td>
                                <td data-title="Delivery BU" class="numeric">{{eng.deliveryBU}}</td>
                                <td data-title="Type" class="numeric">{{eng.engagementType}}</td>
                                <td data-title="Delivery Model" class="numeric">{{eng.model}}</td>
                                <td data-title="Primary Location" class="numeric">{{eng.customerLocation}}</td>
                                <td data-title="Delivery Location" class="numeric">{{eng.offShoreLoc}}</td>
                                <td data-title="Technology" class="numeric">{{eng.technology}}</td>
                                <td data-title="Status" class="numeric">{{eng.active}}</td>
                          </tr>                   
                </tbody>
            </table>
        </div>   
        
        <div class="panel panel-default d-block d-sm-none"  *ngFor="let eng of obj.engagements; let i = index" >
                <div class="panel-heading1" >
                    <a style="text-decoration:none;" data-toggle="collapse" data-parent="#accordion" [href]="'#apps'+obj.sbuname+i">
                    <h4 class="panel-title1">
                            <div class="container">
                                    <div class="row">
                                        <div class="col-7 entity-title">{{eng.bnpentity.entityName}}</div>
                                        <div class="col-3 entity-title">{{eng.engagementName}}</div>
                                        <div class="col-2">
                                                <a class="toggle-panel collapsed float-right" data-toggle="collapse"
                                                 data-parent="#accordion" [href]="'#apps'+obj.sbuname+i">&nbsp;</a>
                                        </div>
                                    </div>
                                </div>
                    </h4>
                </a>
                </div>
                <div [id]="'apps'+obj.sbuname+i" class="panel-collapse collapse in">
                    <div class="panel-body">
                        <table class="entity-table">
                            <tbody>
                                <tr>
                                    <td>Engagement Name</td>
                                    <td>{{eng.engagementName}}</td>
                                </tr>
                                <tr>
                                    <td>Delivery BU</td>
                                    <td>{{eng.deliveryBU}}</td>
                                </tr>
                                <tr>
                                    <td>Type</td>
                                    <td>{{eng.engagementType}}</td>
                                </tr>
                                <tr>
                                    <td>Delivery Model</td>
                                    <td>{{eng.model}}</td>
                                </tr>
                                <tr>
                                    <td>Primary Location</td>
                                    <td>{{eng.customerLocation}}</td>
                                </tr>
                                <tr>
                                    <td>Delivery Location</td>
                                    <td>{{eng.offShoreLoc}}</td>
                                </tr>
                                <tr>
                                    <td>Technology</td>
                                    <td>{{eng.technology}}</td>
                                </tr>
                                <tr>
                                    <td>Status</td>
                                    <td>{{eng.active}}</td>
                                </tr>
                                <tr>
                                    <td>Capgemini SPOC</td>
                                    <td>{{eng.cgspoc.name}}</td>
                                </tr>
                                <tr>
                                    <td>Digital</td>
                                    <td>{{eng.digital}}</td>
                                </tr>                                
                                <tr>
                                    <td>Headcount</td>
                                    <td>{{eng.headCount}}</td>
                                </tr>
                                <tr>
                                    <td>Start Date</td>
                                    <td>{{eng.endDate}}</td>
                                </tr>
                                <tr>
                                    <td>End Date</td>
                                    <td>{{eng.active}}</td>
                                </tr>
                                <tr>
                                    <td>Project Code</td>
                                    <td>{{eng.sysprojCode}}</td>
                                </tr>
                                <tr>
                                    <td>Risk Status</td>
                                    <td>{{eng.engagementRiskStatus}}</td>
                                </tr>
                                <tr>
                                    <td>TCV</td>
                                    <td>{{eng.tcv}}</td>
                                </tr>
                                
                                <tr>
                                    <td>Rightshore</td>
                                    <td>{{eng.rightShore}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
        </div>
        

      </div>
    </div>
  </div>
  
  <div  *ngIf="!eDetails || !eDetails.sbus">
    <div class="alert alert-info" style="margin:1rem;margin-bottom: 0;">
         No Data Found.
      </div>
  </div>
    
    
    </div>
    <!-- accordian end-->
</div>

</div>
</article>
</section>
<!-- tab pan end -->
            <footer class="footer">
                <h5>All rights reserved by Capgemini. Copyright &copy; 2018</h5>
            </footer>

        </div>























































<!--

<p><a [routerLink]="['/login']">Logout</a></p>

<section class="main" *ngIf="entities">

<div class="container" style="width:80%; margin:0 auto;">
  <hr />
 
<p><strong>2018 Revenue : </strong>{{entities.revenue}}</p>

<p><strong>Total HeadCount : </strong>{{entities.totalHeadCount}}</p>
<hr />
  <p><strong>BNPP Entities</strong></p>
  <ul class="todo-list"> 

  	
      <li *ngFor="let bnp of entities.bnpEntities" style="list-style-type:circle">
          <span>{{bnp.entityName}}</span>
    </li>
  </ul>
  <hr />
  <p><strong>Capgemini Service Entities</strong></p>
  <ul class="todo-list">
      <li *ngFor="let sbu of entities.sbus" style="list-style-type:circle">
          <span>{{sbu.sbuname}}</span>
    </li>
  </ul>
<hr />
</div>
</section>

<div (click)="onSelectEngagement(county)"><span><strong>Engagement View</strong></span>




</div>

-->
