.left-align{
    text-align: left;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    text-decoration: none;
}

.alert{
    position: relative;
    margin-top: 1rem;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;
}

body, html {
    height: 100%;
    width: 100%;
}

.container-fluid {
    background: #f5f5f5;
    padding: 0;
    font-family: helvetica;
}

ul {
    list-style: none;
} 
header {
    border-top: 5px solid #0370ae;
    height: 61px;
    text-align: center;
    display: block;
    padding: 5px 30px 0;
}

header div, nav div, nav ul li  {
    display: inline-block;
}

.logo {
    float: left;
}
.logo a {
    display: block;
    width: 240px;
    height: 55px;
    background: url("../../assets/images/CG-logo.png") center no-repeat;
   
}

nav {
    background: #0370ae;

}

.menu-icon {
    background: url('../../assets/images/menu.png') center no-repeat;
    height: 20px;
    width: 25px;
}



nav li a, h4 {
    color: #ffffff;
    font-family: helvetica;
    font-size: 100%;
}

.profile {
    float: right;
    width: 33%;
    min-width: 200px;
}
.profile ul li {
    display: inline-block;
}

.search-icon {
    background: url("../../assets/images/search.png") 10px center no-repeat;
    background-size: 7%;
    padding: 0 30px 0 30px;
}


/* Login */

.login {
   
   background: url("../../assets/images/bg-image.png") center no-repeat;
   height: 100%; 
   background-size: cover;
   min-height: 100%;  
   min-height: 100vh; 

  display: flex;
  align-items: center;
   
}



.ipt_post, .ipt_lock {
    background: #fff url('../../assets/images/desk/mail.png') 10px center no-repeat;
    border: 1px solid lightgrey;
    color: grey;
    padding: 0 0 0 40px;
}

.ipt_lock {
    background-image: url('../../assets/images/desk/Password.png')
   }

.login-form {
    margin: auto auto;
    width: 90%;
    max-width: 510px;
    max-height: 330px;
    text-align: center;
}

.login-form h1 {
    color: #fff;
    font-size: 150%;
    margin-bottom: 25px;
}

.login-form form {
    background: #efefef;
    padding: 40px;
}

.login-form input {
    width: 100%;
    margin-top: 15px;
    height: 40px;
 }


footer {
    background: #000;
    padding: 15px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    color: #fff;
    max-height: 63px;
}

h5 {
    font-size: 75%;
    font-weight: 200;
 }



 .btn_blue {
    background: #0470ae;
    color: #fff;
    text-transform: uppercase;
    padding: 0;
}
