agm-map {
  height: 450px;
  width:100% !important;
}

body, html {
  height: 100%;
  width: 100%;
}

.center {
  text-align: center;
}

.container-fluid {
  background: #f5f5f5;
  padding: 0;
  font-family: helvetica;
}

.card {
    width: 48%;
    color: #fff;
    padding: 10px;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    min-height: 50%;
    margin-bottom: 15px;
}

.blue {
  background: #0770ad;
}

.violet {
background: #29193c;
float: left;
margin-right: 15px;
}

.red {
  background: #e83750;
}

.green {
background: #97c31d;
float: left;
margin-right: 15px;
}

ul {
  list-style: none;
} 
header {
 /* border-top: 5px solid #0370ae;*/

}

header div, nav div, nav ul li  {
  display: inline-block;
}


.logo a {
  display: block;
  width: 240px;
  height: 55px;
  background: url("../../assets/images/CG-logo.png") center no-repeat;
 
}

nav {
  background: #0370ae;

}

.menu-icon {
  background: url('../../assets/images/menu.png') center no-repeat;
  height: 20px;
  width: 25px;
}

.map {
  width: 55%;
  height: auto;
  padding-top: 30px;
}

.main-container article {
    border-style: solid;
    padding-bottom: 30px;
}

nav li a, h4 {
  color: #ffffff;
  font-family: helvetica;
  font-size: 100%;
}

.nav-tabs .nav-item {
  width: 50%;
  color: #0370ae;
  text-transform: uppercase;
  border: 1px solid #0370ae;
}
h2 {
  color: #0370ae;
  text-transform: uppercase;
  font-size: 105%;
}

h4 {
  margin: 0;
}
.nav-tabs .nav-item a {
    color: #0370ae;
    border-color: #0370ae;
    text-align: center;
    border: none;
    font-size:15px;

}
.nav-tabs .nav-item a.active {
  color: #fff;
  background-color: #0370ae; 
  border-radius: 0;
}

.profile ul li {
  display: inline-block;
}

.search-icon {
  background: url(../../assets/images/search.png) 10px center no-repeat;
  background-size: 7%;
  padding: 0 30px 0 30px;
}


/* Login */

.login {
 
 background: url('../../assets/images/bg-image.png') center no-repeat;
 height: 100%; 
 background-size: cover;
 min-height: 100%;  
 min-height: 100vh; 

display: flex;
align-items: center;
 
}

.modal-dialog {
  top: 25%;
}



.ipt_post, .ipt_lock {
  background: #fff url(../../assets/images/desk/mail.png) 10px center no-repeat;
  border: 1px solid lightgrey;
  color: grey;
  padding: 0 0 0 40px;
}

.ipt_lock {
  background-image: url('../../assets/images/desk/Password.png')
 }

.login-form {
  margin: auto auto;
  width: 90%;
  max-width: 510px;
  max-height: 330px;
  text-align: center;
}

.login-form h1 {
  color: #fff;
  font-size: 150%;
  margin-bottom: 25px;
}

.login-form form {
  background: #efefef;
  padding: 40px;
}

.login-form input {
  width: 100%;
  margin-top: 15px;
  height: 40px;
}


footer {
  background: #000;
  padding: 15px;
  text-align: center;
  position: static;
  bottom: 0;
  width: 100%;
  color: #fff;
  max-height: 63px;
}

h5 {
  font-size: 75%;
  font-weight: 200;
}

h1 {
   font-size: 130%;
   color: #b8103e;
   font-weight: 400;
   text-transform: uppercase;
}

.txt-blue {
   color: #31a7eb;
}


.btn_blue {
  background: #0470ae;
  color: #fff;
  text-transform: uppercase;
  padding: 0;
}


/* dashboard */

.dashboard {
    background: url('../../assets/images/desk/map.jpg') center no-repeat;
   /* height: 100%;  */
   background-size: 100%;
   /* min-height: 100%;   */
 
  
}
.dashboard-tbs {

}

.click-map {
    height : 16.5rem;
    /* height: 300px; */
}

.opaque-section {
  background: #fff;
  opacity: .5;
  border: 1px solid #fff;
  border-radius: 3px;
  margin: 10px 0;
  padding: 1% 1% 0;
  font-size: 80%;
}
.tabs li {
  display: inline-block;
  width: 18.8%;
  /* float: left; */
  margin: 1% 0 0 .1%;
  padding: 2%;
}

.tab-heading {
  font-size: 250%;
  font-size: 10vmax;
  font-size: 5vmin;
  color: #fff;
}

.tab-heading span {
  font-size: 58%;
}

.hidden {
  display: none;
}


/* engagement details */

#engageDetails {

}

.panel {
    margin: 7px 0px;
    border: 1px solid #00aeef;
}
.tab-content{
    padding: 0px;
}
.tab-pane{
    padding:15px;
}
.tab-padd{padding:0px;}

.panel .panel-heading {
  padding: 7px;
  background-color: #00aeef;
  color: #fff;
}
.panel .panel-heading1 {
    padding: 7px;
    background-color: #D9EAF2;
    color: #000;
}
.panel-title1{
    padding:4px 0px;
}

.panel .panel-heading a {
    color: #fff;
    padding: 3px 0px 3px 20px;
}
.entity-title{
    padding: 0px;
    color: #000;
}

.panel-collapse.show {
    margin: 0px;
}
.panel-body{
    padding:10px;
}

.custom-table{
    padding: 0px;
}
.form-conatiner{
    padding:0 5px 5px 5px;
}
.form-check-label {
font-size: 13px;
color: #007bff;
}
.table-striped thead tr th {
background-color: #525963;
color: #fff;
font-size: 12px;
font-weight: normal;
padding: 5px 5px;
}
.table-striped tbody tr td {
    color: #333;
    font-size: 80%;
    padding: 5px;
}

.table-striped tbody tr.show-details  {
    background: #aaa;
    color: #000;
    font-weight: 600;
}

.engkey p{
    font-size:13px;
}
.engkey h4 {
color: #000;
font-size: 14px;
margin-bottom: 10px;
}
.data-container{
    width: 100%;
}
.data-container p{
    font-size: 12px;
    font-weight: bold;
}
.data-container p span{
    font-size: 12px;
    font-weight: normal;
}
.data-container p{
    padding: 0px !important;
}
.arrow-icon {
    display: block;
    height: 20px;
    width: 20px;
}

.data-details {
    overflow-x: auto;
}


.arrow-down-white {
  background: transparent url(../../assets/images/desk/arrow-down-white.png) center center no-repeat;
}
.arrow-up-white {
  background: transparent url(../../assets/images/desk/arrow-up-white.png) center center no-repeat;
}
.table-striped tbody tr.active-row {
  border: 1px solid #aaa;
}

tr.show-details.collapsed .arrow-icon {
  background: #aaa url(../../assets/images/desk/arrow-right-grey.png) center center no-repeat;
}

tr.show-details .arrow-icon {
  background: #aaa url(../../assets/images/desk/arrow-down-grey.png) center center no-repeat;
}

.toggle-panel.collapsed, .toggle-panel {
    background: transparent url(../../assets/images/desk/arrow-down-grey.png) 0  no-repeat;
    padding-left: 23px;
    text-decoration: none !important;
    display: block;
    
}

.toggle-panel {
    background: transparent url(../../assets/images/desk/arrow-right-grey.png) 0  no-repeat;
    
}

.toggle-panel span {
    font-size: 67%;
}



.active-row ul li {
  display: inline-block;
  width: 49.5%;
  margin-bottom: 10px;
}

.active-row li h4 {
  color: #333;
  font-weight: 700;
}

.active-row p {
  font-size: 90%;
  margin-bottom: 3px;
}

.active-row  table {
  width: 100%;
}

.active-row table h5 {
  font-size: 100%;
  font-weight: 600;
  margin-bottom: 0;
}

.table td, .table th{
    border-top:0px;
}
.table{
    border:1px solid #dee2e6;

}
.entity-table{
    width: 92%;
}
.entity-table td{
    padding:5px 0px;
}


@media (max-width: 768px) {
    .hidden {
        display: inline-block;
    }
    .cust-container {
    width: 100%;
    padding-right: 0px;
    padding-left: 0px;
    margin-right: auto;
    margin-left: auto;
}

    .main-container {
        padding: 0px;
    }

    .card {
        /* margin: 30px 0 0 30px; */
        width: 100%;
        min-width: 200px;
        min-height: 200px;
        margin-bottom: 15px;
    }
    .tabs li {
         width: 19.5%;
    }
    
    
}

@media (min-width: 768px) and (max-width: 1200px){
  .tabs li {
      width: 19.3%;
 }

   .card {
    margin: 5% 0 0 5%;
    min-width: 132px;
    min-height: 132px;
   }
   .click-map {
    height: 300px;
}

}

@media (max-width: 358px){
    .tabs li {
        width: 49%;
   }
   
}














@media only screen and (max-width: 800px) {
    
    /* Force table to not be like tables anymore */
	#no-more-tables table, 
	#no-more-tables thead, 
	#no-more-tables tbody, 
	#no-more-tables th, 
	#no-more-tables td, 
	#no-more-tables tr { 
		display: block; 
	}
 
	/* Hide table headers (but not display: none;, for accessibility) */
	#no-more-tables thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
 
	#no-more-tables tr { border: 1px solid #ccc; }
 
	#no-more-tables td { 
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
		padding-left: 50%; 
		white-space: normal;
		text-align:left;
    }
    #no-more-tables td .para { 
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
		white-space: normal;
		text-align:left;
	}
 
	#no-more-tables td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
		text-align:left;
		font-weight: bold;
    }
    .table-striped tbody tr:nth-of-type(odd) {
        background-color: #F5F5F5 !important;
    }
 
	/*
	Label the data
	*/
	#no-more-tables td:before { content: attr(data-title); }
}
.data-table{}
.data-table td{
    padding-left: 0px !important;
    text-align: center !important;
}