<app-appheader [username]="username"></app-appheader>

 <div class="container">
           
<!-- end of header -->           
          
       <header>
               
                   
            </header>             
           
<!-- navigation end -->            
            <section class="track-path">
               
            </section>
<!-- track path end -->            
            <section class="main-container ">
                <!-- <div class="col-sm-12 click-map dashboard" data-toggle="modal" data-target="#myModal">

                  </div>--> 
                  <fusioncharts
                    [width]="width"
                    [height]="height"
                    [type]="type"
                    [dataFormat]="dataFormat"
                    [dataSource]="dataSource"              
                  >
                </fusioncharts>

                  <div class="col-sm-12 opaque-section">
                    <h2>Capgemini BNPP Collaboration Overview</h2>
                    <!-- <p style = "word-break: break-all;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p> -->
                  </div>
                  <div class="dashboard-tbs">
                      <ul class="tabs">
                          <li class="col-xs-12 green center">
                            <h2 class="tab-heading">$568<span>M</span></h2><h4>2018 Revenue</h4>
                          </li>
                          <li class="col-xs-12 violet center" >
                            <h2 class="tab-heading">$568<span>M</span></h2><h4>2018 Revenue</h4>
                          </li>
                          <li class="col-xs-12 red center" >
                            <h2 class="tab-heading">$568<span>M</span></h2><h4>2018 Revenue</h4>
                          </li>
                          <li class="col-xs-12 blue center" >
                              <h2 class="tab-heading">$568<span>M</span></h2><h4>2018 Revenue</h4>
                          </li>
                          <li class="col-xs-12 green center" >
                                <h2 class="tab-heading">$568<span>M</span></h2><h4>2018 Revenue</h4>
                           </li>
                           
                      </ul>
                     
                </div>

            </section>
<!-- tab pan end -->
          

            <!-- Modal -->
            <div id="myModal" class="modal" role="dialog">
                    <div class="modal-dialog">
                  
                      <!-- Modal content-->
                      <div class="modal-content">
                        <div class="modal-header">
                                <label for="sel1">Select Country</label><button type="button" class="close" data-dismiss="modal">&times;</button>
                         
                        </div>
                        <div class="modal-body form-group"> 
                                        <select [(ngModel)]="selectedOption" class="form-control" id="sel1">
                               
                                          <option *ngFor="let c of countries" [ngValue]="c"> {{c.name}} </option>
                                        </select>
                           
                          <button type="button" class="btn btn-primary" (click)="onSelectCountry(selectedOption)" data-dismiss="modal" style="margin-top: 1rem">OK</button>
                        </div>
                       
                      </div>
                  
                    </div>
                  </div>
        </div>

        <footer class="footer">
          <h5>All rights reserved by Capgemini. Copyright &copy; 2018</h5>
      </footer>

<!-- <p><a [routerLink]="['/login']">Logout</a></p> -->
<!-- <h3>Countries List</h3>
<div class="col-md-12" style="width:100%">
	
		<div style="display:inline-block; width:20%; margin-top:-10px" class="col-md-2">
				<ul class="todo-list"  style="margin-top:10px">
					<li (click)="onSelectCountry(county)" *ngFor="let county of countries">
						<span>{{county.name}}</span>
					</li>
				</ul>
			</div>

	<div style="display:inline-block; width:100%;" class="col-md-10">
<agm-map 
  [latitude]="lat"
  [longitude]="lng"
  [zoom]="zoom"
  [disableDefaultUI]="false"
  [zoomControl]="false"
  (mapClick)="mapClicked($event)">

  <agm-marker 
      *ngFor="let m of markers; let i = index"
      (markerClick)="clickedMarker(m.label, i)"
      [latitude]="m.lat"
      [longitude]="m.lng"
      [label]="m.label"
      [markerDraggable]="m.draggable"
      (dragEnd)="markerDragEnd(m, $event)">
      
    <agm-info-window>
      <strong>InfoWindow content</strong>
    </agm-info-window>
    
  </agm-marker>
  
  <agm-circle [latitude]="lat + 0.3" [longitude]="lng" 
      [radius]="5000"
      [fillColor]="'red'"
      [circleDraggable]="true"
      [editable]="true">
  </agm-circle>

</agm-map> 

	

	</div>


</div>-->