<app-appheader [username]="username"></app-appheader>
 <div class="container">    
  <header></header>
<!-- navigation end -->            
  <section class="track-path"></section>
<!-- track path end -->            
    <section class="main-container ">
    <fusioncharts
                    [width]="width"
                    [height]="height"
                    [type]="type"
                    [dataFormat]="dataFormat"
                    [dataSource]="dataSource">
    </fusioncharts>   
    </section>
<!-- tab pan end -->

      <button type="button" class="btn btn-primary" (click)="onBack()" style="margin-bottom: 1em;">Back</button>
        </div>

        <footer class="footer">
          <h5>All rights reserved by Capgemini. Copyright &copy; 2018</h5>
      </footer>

<!-- <p><a [routerLink]="['/login']">Logout</a></p> -->
